.App {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  /* height: 100vh; */
  height: 1305px;
  /* background: url('../src/simple-jigsaw-main/assets/background.jpg'); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.hiddenCanvas {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: -1000;
  opacity: 0;
}

.pixi-origin{
  width: 100%;
  background-size: cover;
}



.picB {
  z-index: 3;
  position: absolute;
  background-size: contain;
  height: 100%;
  top: 0;
  left: 0;
  min-width: 0;
  max-width: 100%;
  overflow: hidden;
}


.bottom_box {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-size: contain;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
